{% extends "base.html" %}
{% block contenido %}


    <title> Eliminar Ingreso Cabecera </title>

    <div class="b-example-divider">
        <h2 class="text-center">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-pin"/>
            </svg>
            "Eliminar Ingreso Cabecera"
        </h2>
    </div>

    <form class="text-center py-lg-3 " method="post">
        {% csrf_token %}
        {{ ingreso_cabecera_ls.as_p }}
        <input type="submit" value="Eliminar Ingreso Cabecera"/>
    </form>

{% endblock %}